<form>
  <mat-form-field hintLabel="Enter your full name">
    <input matInput placeholder="Name"
           [(ngModel)]="userData.name"
           [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your email"
           [formControl]="email"
           [(ngModel)]="userData.email"
           required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description"
              [(ngModel)]="userData.description"
              [ngModelOptions]="{standalone: true}">
    </textarea>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="sendEmail()">Send</button>
  </mat-dialog-actions>
</form>
