<mat-card>
  <mat-card-header class="circle">
    <img [src]="project.logoUrl" alt="logo" class="logo">
  </mat-card-header>
  <mat-card-title><h4>{{project.organization_name}}</h4></mat-card-title>
  <mat-card-content>
    <a [routerLink]="project.url">{{project.url}}</a>
    <p class="info">{{project.info}}</p>
    <p class="location">{{project.location}}</p>
    <p class="description">{{project.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" [routerLink]="['/portfolio', project.id]">View more</button>
  </mat-card-actions>
</mat-card>
