:host {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 70px 20px;
  justify-content: space-around;
  padding: 30px;
  overflow: auto;

  @media (max-width: 1060px) {
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 876px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 576px) {
    grid-template-columns: auto;
  }
}

