<form>
  <div class="half">
    <mat-form-field>
      <input matInput placeholder="First name" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone number" type="number">
    </mat-form-field>
  </div>
  <div class="half">
    <mat-form-field>
      <input matInput placeholder="Last name" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="email">
    </mat-form-field>
  </div>
  <mat-form-field>
    <textarea matInput placeholder="Your message"></textarea>
  </mat-form-field>
  <input type="file">
  <div class="btn-container">
    <button mat-raised-button color="primary">Submit</button>
  </div>
</form>
